brand.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="UTF-8">
    <title>Premiale</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="copyright" content="(c)">
    <meta http-equiv="Reply-to" content="e-mail">
    <!--link(rel='icon', href='img/icons/favicon.ico', type='image/x-icon')-->
    <!--styles-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900,500&amp;subset=latin,cyrillic-ext">
    <link rel="stylesheet" href="css/styles.css">
    <!--js-->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery.qrcode-0.7.0.min.js"></script>
    <script src="js/RemoteController.js"></script>
  </head>
  <body>
    <!--bg-->
    <div class="bBg"></div>
    <!--#bg-->
    <!--start degustation-->
    <div class="bStartDegustaion"><a href="#" class="eStartDegustaion"></a></div>
    <!--#start degustation-->
    <nav class="bNav">
      <!--logo--><a href="" class="bLogo"></a>
      <!--#logo-->
      <!--nav links-->
      <ul class="bNavList">
        <!-- для отображения суб меню добавить li класс active-->
        <li><a href="">
            <div class="eNavList_ico mHome"></div>
            <div class="eNavList_text">Головна</div></a></li>
        <li><a href="">
            <div class="eNavList_ico mProducts"></div>
            <div class="eNavList_text">Продукція</div></a>
          <!-- нужно блоку bSubNavWrap задавать высоту окна-->
          <div class="bSubNavWrap">
            <ul class="bSubNavList">
              <li><a href="#">молоко</a></li>
              <li><a href="#">Ряжанка</a></li>
              <li><a href="#">кефір</a></li>
              <li><a href="#">біо-кефір</a></li>
              <li><a href="#">сметана</a></li>
              <li><a href="#">термостат</a></li>
              <li><a href="#">сир зернистий</a></li>
              <li><a href="#">фета</a></li>
              <li><a href="#">бринза</a></li>
              <li><a href="#">вершки</a></li>
              <li><a href="#">шейки</a></li>
            </ul>
          </div>
        </li>
        <li><a href="">
            <div class="eNavList_ico mPromo"></div>
            <div class="eNavList_text">Промо</div></a></li>
        <li><a href="">
            <div class="eNavList_ico mNews"></div>
            <div class="eNavList_text">Новини</div></a></li>
        <li><a href="">
            <div class="eNavList_ico mAbout"></div>
            <div class="eNavList_text">Про бренд</div></a></li>
        <li><a href="">
            <div class="eNavList_ico mContacts"></div>
            <div class="eNavList_text">Контакти</div></a></li>
      </ul>
      <!--#nav links-->
      <!--nav socials-->
      <div class="bNavSocials"><a href="" class="eNavSocials mFB"></a><a href="" class="eNavSocials mVK"></a><a href="" class="eNavSocials mTW"></a><a href="" class="eNavSocials mIG"></a><a href="" class="eNavSocials mYT"></a></div>
      <!--#nav socials-->
      <!--nav btn-->
      <div class="eNav_btn"></div>
      <!--#nav btn-->
      <!--shadow & border-->
      <div class="eNav_shadow"></div>
      <div class="eNav_sideBorder"></div>
      <!--#shadow & border-->
    </nav>
    <!--content-->
    <section class="bContent">
      <!--text block-->
      <div class="bTextBlock">
        <h1 class="eTextBlock_heading">про бренд</h1>
        <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.</p>
        <p>"Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого.</p>
        <div class="bLikeThis"><a href="" class="eLikeThis mFB"></a><a href="" class="eLikeThis mHeart"></a></div>
      </div>
      <!--#text block-->
      <div class="bTextBlockBg">
        <!--img.mImgResponsive(src='img/about_brand_bg.jpg',alt='')-->
      </div>
      <div class="bBottomLinks"><span class="eBottomLinks">Premialle © 2014 Всі права захищені.</span><span class="eBottomLinks">Зворотній зв'язок:<a href="#"></a>info@premialle.ua</span><span class="eBottomLinks">Гаряча лінія: 0 800 503 477</span><span class="eBottomLinks m1"><img src="img/logos/logo_inter_food.png" alt="" class="mImgResponsive"></span>
        <!--span.eBottomLinks.m2<img src="img/logos/logo_terra_food.png" alt="" class="mImgResponsive">
        -->
      </div>
    </section>
    <!--#content-->
    <script src="js/jquery.jsmovie.1.4.4.min.js"></script>
    <script src="js/preloaderparallax.js"></script>
    <script src="js/preloadermain.js"></script>
    <script src="js/jquery.parallax.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/stages.js"></script>
    <script src="js/intro.js"></script>
  </body>
</html>

brand.jade
!!! 5
html(lang='ru-RU')
    head
        include jade/_head
    body
        //bg
        .bBg
        //#bg
        //start degustation
        .bStartDegustaion
            a.eStartDegustaion(href='#')
        //#start degustation
        include jade/_nav
        //content
        section.bContent

            //text block
            .bTextBlock
                h1.eTextBlock_heading
                    |про бренд
                p
                    |Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                p
                    |"Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого.
                .bLikeThis
                    a.eLikeThis.mFB(href='')
                    a.eLikeThis.mHeart(href='')
            //#text block
            .bTextBlockBg
                //img.mImgResponsive(src='img/about_brand_bg.jpg',alt='')
            include jade/_bottom_data
        //#content
        include jade/_js
