intro.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="UTF-8">
    <title>Premiale</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="copyright" content="(c)">
    <meta http-equiv="Reply-to" content="e-mail">
    <!--link(rel='icon', href='img/icons/favicon.ico', type='image/x-icon')-->
    <!--styles-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900,500&amp;subset=latin,cyrillic-ext">
    <link rel="stylesheet" href="css/styles.css">
    <!--js-->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery.qrcode-0.7.0.min.js"></script>
    <script src="js/RemoteController.js"></script>
  </head>
  <body>
    <!--bg-->
    <div class="bBg mPreloader"></div>
    <!--#bg-->
    <!--start degustation-->
    <div class="bStartDegustaion"><a href="#" class="eStartDegustaion"></a></div>
    <!--#start degustation-->
    <nav class="bNav">
      <!--logo--><a href="" class="bLogo"></a>
      <!--#logo-->
      <!--nav links-->
      <ul class="bNavList">
        <!-- для отображения суб меню добавить li класс active-->
        <li><a href="">
            <div class="eNavList_ico mHome"></div>
            <div class="eNavList_text">Головна</div></a></li>
        <li><a href="">
            <div class="eNavList_ico mProducts"></div>
            <div class="eNavList_text">Продукція</div></a>
          <!-- нужно блоку bSubNavWrap задавать высоту окна-->
          <div class="bSubNavWrap">
            <ul class="bSubNavList">
              <li><a href="#">молоко</a></li>
              <li><a href="#">Ряжанка</a></li>
              <li><a href="#">кефір</a></li>
              <li><a href="#">біо-кефір</a></li>
              <li><a href="#">сметана</a></li>
              <li><a href="#">термостат</a></li>
              <li><a href="#">сир зернистий</a></li>
              <li><a href="#">фета</a></li>
              <li><a href="#">бринза</a></li>
              <li><a href="#">вершки</a></li>
              <li><a href="#">шейки</a></li>
            </ul>
          </div>
        </li>
        <li><a href="">
            <div class="eNavList_ico mPromo"></div>
            <div class="eNavList_text">Промо</div></a></li>
        <li><a href="">
            <div class="eNavList_ico mNews"></div>
            <div class="eNavList_text">Новини</div></a></li>
        <li><a href="">
            <div class="eNavList_ico mAbout"></div>
            <div class="eNavList_text">Про бренд</div></a></li>
        <li><a href="">
            <div class="eNavList_ico mContacts"></div>
            <div class="eNavList_text">Контакти</div></a></li>
      </ul>
      <!--#nav links-->
      <!--nav socials-->
      <div class="bNavSocials"><a href="" class="eNavSocials mFB"></a><a href="" class="eNavSocials mVK"></a><a href="" class="eNavSocials mTW"></a><a href="" class="eNavSocials mIG"></a><a href="" class="eNavSocials mYT"></a></div>
      <!--#nav socials-->
      <!--nav btn-->
      <div class="eNav_btn"></div>
      <!--#nav btn-->
      <!--shadow & border-->
      <div class="eNav_shadow"></div>
      <div class="eNav_sideBorder"></div>
      <!--#shadow & border-->
    </nav>
    <!--content-->
    <section class="bContent">
      <div class="ani"><img id="korzinka" src="img/korzinka.png"><img id="bottle1" src="img/bottle.png"><img id="bottle2" src="img/bottle.png"><img id="bottle3" src="img/bottle.png"><img id="front" src="img/front.png"></div>
      <!--intro QR-->
      <div class="bIntroQR">
        <div class="eIntroQR_headText">Щоб приєднатися до віртуальної дегустації<b> Premialle</b>, відкрийте в браузері мобільного пристрою сторінку *</div>
        <div class="bInputWrap">
          <input type="text" placeholder="" value="m.premialle.ua" class="bTextInput">
        </div>
        <div class="eIntroQR_enterCodeText">і введіть цей код.</div>
        <div class="bInputWrap">
          <input type="text" placeholder="" value="684" class="bTextInput">
        </div>
        <div class="eIntroQR_enterCodeText">Або ж відскануйте QR-код використовуючи спеціальною програмою на вашому пристрої.</div>
        <div class="eIntroQR_qr"><img src="img/ex/qr.png" class="mImgResponsive"></div>
        <div class="eIntroQR_helpText">* Немає телефону?<br>Використовуйте мишу..</div>
        <!--shadow-->
        <div class="eIntroQR_shadow"></div>
      </div>
      <!--#intro QR-->
      <!--intro QR sync-->
      <div hidden class="bIntroQR mStatView">
        <div class="eIntroQR_statusIco"><img src="img/ico_wait_sync.png" alt="" class="mImgResponsive"></div>
        <div class="eIntroQR_statusText"><b>зачекайте, йде синхронiзацiя...</b></div>
        <!--shadow-->
        <div class="eIntroQR_shadow"></div>
      </div>
      <!--#intro QR sync
      <!--intro QR sync-->
      -->
      <div hidden class="bIntroQR mStatView">
        <div class="eIntroQR_statusIco"><img src="img/ico_conected.png" alt="" class="mImgResponsive"></div>
        <div class="eIntroQR_statusText"><b>є контакт!</b>вітаємо вас в інтерактівній дегустації Premialle!</div>
        <!--shadow-->
        <div class="eIntroQR_shadow"></div>
      </div>
      <!--#intro QR sync-->
      <!--block shadow-->
      <!--.bBlockBottomShadow.mPreloader-->
      <!--#block shadow-->
    </section>
    <script src="js/jquery.jsmovie.1.4.4.min.js"></script>
    <script src="js/preloaderparallax.js"></script>
    <script src="js/preloadermain.js"></script>
    <script src="js/jquery.parallax.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/stages.js"></script>
    <script src="js/intro.js"></script>
  </body>
</html>

intro.jade
!!! 5
html(lang='ru-RU')
    head
        include jade/_head
    body
        //bg
        .bBg.mPreloader
        //#bg
        //start degustation
        .bStartDegustaion
            a.eStartDegustaion(href='#')
        //#start degustation
        include jade/_nav
        //content
        section.bContent
            .ani
                img#korzinka(src="img/korzinka.png")
                img#bottle1(src="img/bottle.png")
                img#bottle2(src="img/bottle.png")
                img#bottle3(src="img/bottle.png")
                img#front(src="img/front.png")



            //intro QR
            .bIntroQR
                .eIntroQR_headText
                    |Щоб приєднатися до віртуальної дегустації
                    b: |  Premialle
                    |, відкрийте в браузері мобільного пристрою сторінку *
                .bInputWrap
                    input.bTextInput(type='text',placeholder='',value='m.premialle.ua')
                .eIntroQR_enterCodeText
                    |і введіть цей код.
                .bInputWrap
                    input.bTextInput(type='text',placeholder='',value='684')
                .eIntroQR_enterCodeText
                    |Або ж відскануйте QR-код використовуючи спеціальною програмою на вашому пристрої.
                .eIntroQR_qr
                    img.mImgResponsive(src='img/ex/qr.png')
                .eIntroQR_helpText
                    |* Немає телефону?
                    br
                    |Використовуйте мишу..
                //shadow
                .eIntroQR_shadow
            //#intro QR
            //intro QR sync
            .bIntroQR.mStatView(hidden)
                .eIntroQR_statusIco
                    img.mImgResponsive(src='img/ico_wait_sync.png',alt='')
                .eIntroQR_statusText
                    b:| зачекайте, йде синхронiзацiя...
                //shadow
                .eIntroQR_shadow
            //#intro QR sync
             //intro QR sync
            .bIntroQR.mStatView(hidden)
                .eIntroQR_statusIco
                    img.mImgResponsive(src='img/ico_conected.png',alt='')
                .eIntroQR_statusText
                    b:|є контакт!
                    |вітаємо вас в інтерактівній дегустації Premialle!
                //shadow
                .eIntroQR_shadow
            //#intro QR sync
            //block shadow
            //.bBlockBottomShadow.mPreloader
            //#block shadow
        include jade/_js
