news.jade
!!! 5
html(lang='ru-RU')
    head
        include jade/_head
    body
        //bg
        .bBg.mPreloader
        //#bg
        //start degustation
        .bStartDegustaion
            a.eStartDegustaion(href='#')
        //#start degustation
        include jade/_nav
        //content
        section.bContent.mNoTranslate
            //news
            .bNews
                //view news block
                .bNewsView
                    .eNewsView_close
                        .bIco
                    .eNewsView_img
                        img(src='img/ex/news_1.jpg',alt='')
                    // для отображения заголовка без иконки добавить блоку eNewsView_header класс mNoIco
                    .eNewsView_header
                        .eNewsView_headerIco
                            .bIco
                        .eNewsView_heading
                            | Lorem Ipsum - це текст це текст це текст
                        .eNewsView_date
                            |02.01.2014
                    .eNewsView_content
                        p
                            |Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                        p
                            |Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.
                    .eNewsView_footer
                        a.bIco(href='#')
                        a.bIco(href='#')
                        a.bIco(href='#')

                //#view news block
                //news grid
                .bNewsItemWrap
                    .eNewsItemWrap_inner
                        //item
                        .bNewsItem.mSubscribe
                            .eNewsItem_header
                                .eNewsItem_headerText
                                    | Підписатися на новини та акцій
                                .bIco.mMail
                            .eNewsItem_content
                                .bInputWrap
                                    input.bTextInput(type='text',placeholder='ФІП',value='')
                                .bInputWrap
                                    input.bTextInput(type='text',placeholder='e-mail',value='')
                                button.bBtn.mContactsSent: | надіслати
                        //#item
                        //- var helpItems = ['1','2','3','4','1','2','3','4']
                        //- each item, i in helpItems
                        //item
                        .bNewsItem
                            .eNewsItem_img
                                img.mImgResponsive(src='img/ex/news_1.jpg', alt='')
                            .eNewsItem_content
                                .eNewsItem_dateWrap
                                    a.bIco(href='#'): |1
                                    .eNewsItem_date
                                        |09.01.2014
                                .eNewsItem_text
                                    p: |21 ноября ТМ Premialle была названа победителем номинации «Маркетинговая стратегия года» на торжественной церемонии награждения X-Ray Marketing Awards.
                            .eNewsItem_footer
                                a.bIco(href='#')
                                a.bIco(href='#')
                                a.bIco(href='#')
                        //#item
                        //item
                        .bNewsItem
                            .eNewsItem_img
                                //img.mImgResponsive(src='img/ex/news_1.jpg', alt='')
                            .eNewsItem_content
                                .eNewsItem_dateWrap
                                    a.bIco(href='#'): |2
                                    .eNewsItem_date
                                        |09.01.2014
                                .eNewsItem_text
                                    p: |21 ноября ТМ Premialle была названа победителем номинации «Маркетинговая стратегия года» на торжественной церемонии награждения X-Ray Marketing Awards.
                            .eNewsItem_footer
                                a.bIco(href='#')
                                a.bIco(href='#')
                                a.bIco(href='#')
                        //#item
                        //item
                        .bNewsItem
                            .eNewsItem_img
                                img.mImgResponsive(src='img/ex/news_2.jpg', alt='')
                            .eNewsItem_content
                                .eNewsItem_dateWrap
                                    a.bIco(href='#'): |3
                                    .eNewsItem_date
                                        |09.01.2014
                                .eNewsItem_text
                                    p: |21 ноября ТМ Premialle была названа победителем номинации «Маркетинговая стратегия года» на торжественной церемонии награждения X-Ray Marketing Awards.
                            .eNewsItem_footer
                                a.bIco(href='#')
                                a.bIco(href='#')
                                a.bIco(href='#')
                        //#item
                        //item
                        .bNewsItem
                            .eNewsItem_img
                                img.mImgResponsive(src='img/ex/news_1.jpg', alt='')
                            .eNewsItem_content
                                .eNewsItem_dateWrap
                                    a.bIco(href='#'): |4
                                    .eNewsItem_date
                                        |09.01.2014
                                .eNewsItem_text
                                    p: |21 ноября ТМ Premialle
                            .eNewsItem_footer
                                a.bIco(href='#')
                                a.bIco(href='#')
                                a.bIco(href='#')
                        //#item
                        //item
                        .bNewsItem
                            .eNewsItem_img
                                img.mImgResponsive(src='img/ex/news_1.jpg', alt='')
                            .eNewsItem_content
                                .eNewsItem_dateWrap
                                    a.bIco(href='#'): |5
                                    .eNewsItem_date
                                        |09.01.2014
                                .eNewsItem_text
                                    p: |21 ноября ТМ Premialle была названа победителем номинации «Маркетинговая стратегия года» на торжественной церемонии награждения X-Ray Marketing Awards.
                            .eNewsItem_footer
                                a.bIco(href='#')
                                a.bIco(href='#')
                                a.bIco(href='#')
                        //#item
                        //item
                        .bNewsItem
                            .eNewsItem_img
                                img.mImgResponsive(src='img/ex/news_1.jpg', alt='')
                            .eNewsItem_content
                                .eNewsItem_dateWrap
                                    a.bIco(href='#'): |6
                                    .eNewsItem_date
                                        |09.01.2014
                                .eNewsItem_text
                                    p: |21 ноября ТМ Premialle была названа победителем номинации «Маркетинговая стратегия года» на торжественной церемонии награждения X-Ray Marketing Awards.
                            .eNewsItem_footer
                                a.bIco(href='#')
                                a.bIco(href='#')
                                a.bIco(href='#')
                        //#item
                        //item
                        .bNewsItem
                            .eNewsItem_img
                                img.mImgResponsive(src='img/ex/news_1.jpg', alt='')
                            .eNewsItem_content
                                .eNewsItem_dateWrap
                                    a.bIco(href='#'): |7
                                    .eNewsItem_date
                                        |09.01.2014
                                .eNewsItem_text
                                    p: |21 ноября ТМ Premialle была названа победителем номинации «Маркетинговая стратегия года» на торжественной церемонии награждения X-Ray Marketing Awards.
                            .eNewsItem_footer
                                a.bIco(href='#')
                                a.bIco(href='#')
                                a.bIco(href='#')
                        //#item
                        //item
                        .bNewsItem
                            .eNewsItem_img
                                img.mImgResponsive(src='img/ex/news_1.jpg', alt='')
                            .eNewsItem_content
                                .eNewsItem_dateWrap
                                    a.bIco(href='#'): |8
                                    .eNewsItem_date
                                        |09.01.2014
                                .eNewsItem_text
                                    p: |21 ноября ТМ Premialle была названа победителем номинации «Маркетинговая стратегия года» на торжественной церемонии награждения X-Ray Marketing Awards.
                            .eNewsItem_footer
                                a.bIco(href='#')
                                a.bIco(href='#')
                                a.bIco(href='#')
                        //#item
                        //item
                        .bNewsItem
                            .eNewsItem_img
                                img.mImgResponsive(src='img/ex/news_1.jpg', alt='')
                            .eNewsItem_content
                                .eNewsItem_dateWrap
                                    a.bIco(href='#'): |9
                                    .eNewsItem_date
                                        |09.01.2014
                                .eNewsItem_text
                                    p: |21 ноября ТМ Premialle была названа победителем номинации «Маркетинговая стратегия года» на торжественной церемонии награждения X-Ray Marketing Awards.
                            .eNewsItem_footer
                                a.bIco(href='#')
                                a.bIco(href='#')
                                a.bIco(href='#')
                        //#item
                //#news grid
            //#news
            include jade/_bottom_data
        //#content
        include jade/_js

news.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="UTF-8">
    <title>Premiale</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="copyright" content="(c)">
    <meta http-equiv="Reply-to" content="e-mail">
    <!--link(rel='icon', href='img/icons/favicon.ico', type='image/x-icon')-->
    <!--styles-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900,500&amp;subset=latin,cyrillic-ext">
    <link rel="stylesheet" href="css/styles.css">
    <!--js-->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery.qrcode-0.7.0.min.js"></script>
    <script src="js/RemoteController.js"></script>
  </head>
  <body>
    <!--bg-->
    <div class="bBg mPreloader"></div>
    <!--#bg-->
    <!--start degustation-->
    <div class="bStartDegustaion"><a href="#" class="eStartDegustaion"></a></div>
    <!--#start degustation-->
    <nav class="bNav">
      <!--logo--><a href="" class="bLogo"></a>
      <!--#logo-->
      <!--nav links-->
      <ul class="bNavList">
        <!-- для отображения суб меню добавить li класс active-->
        <li><a href="">
            <div class="eNavList_ico mHome"></div>
            <div class="eNavList_text">Головна</div></a></li>
        <li><a href="">
            <div class="eNavList_ico mProducts"></div>
            <div class="eNavList_text">Продукція</div></a>
          <!-- нужно блоку bSubNavWrap задавать высоту окна-->
          <div class="bSubNavWrap">
            <ul class="bSubNavList">
              <li><a href="#">молоко</a></li>
              <li><a href="#">Ряжанка</a></li>
              <li><a href="#">кефір</a></li>
              <li><a href="#">біо-кефір</a></li>
              <li><a href="#">сметана</a></li>
              <li><a href="#">термостат</a></li>
              <li><a href="#">сир зернистий</a></li>
              <li><a href="#">фета</a></li>
              <li><a href="#">бринза</a></li>
              <li><a href="#">вершки</a></li>
              <li><a href="#">шейки</a></li>
            </ul>
          </div>
        </li>
        <li><a href="">
            <div class="eNavList_ico mPromo"></div>
            <div class="eNavList_text">Промо</div></a></li>
        <li><a href="">
            <div class="eNavList_ico mNews"></div>
            <div class="eNavList_text">Новини</div></a></li>
        <li><a href="">
            <div class="eNavList_ico mAbout"></div>
            <div class="eNavList_text">Про бренд</div></a></li>
        <li><a href="">
            <div class="eNavList_ico mContacts"></div>
            <div class="eNavList_text">Контакти</div></a></li>
      </ul>
      <!--#nav links-->
      <!--nav socials-->
      <div class="bNavSocials"><a href="" class="eNavSocials mFB"></a><a href="" class="eNavSocials mVK"></a><a href="" class="eNavSocials mTW"></a><a href="" class="eNavSocials mIG"></a><a href="" class="eNavSocials mYT"></a></div>
      <!--#nav socials-->
      <!--nav btn-->
      <div class="eNav_btn"></div>
      <!--#nav btn-->
      <!--shadow & border-->
      <div class="eNav_shadow"></div>
      <div class="eNav_sideBorder"></div>
      <!--#shadow & border-->
    </nav>
    <!--content-->
    <section class="bContent mNoTranslate">
      <!--news-->
      <div class="bNews">
        <!--view news block-->
        <div class="bNewsView">
          <div class="eNewsView_close">
            <div class="bIco"></div>
          </div>
          <div class="eNewsView_img"><img src="img/ex/news_1.jpg" alt=""></div>
          <!-- для отображения заголовка без иконки добавить блоку eNewsView_header класс mNoIco-->
          <div class="eNewsView_header">
            <div class="eNewsView_headerIco">
              <div class="bIco"></div>
            </div>
            <div class="eNewsView_heading">Lorem Ipsum - це текст це текст це текст</div>
            <div class="eNewsView_date">02.01.2014</div>
          </div>
          <div class="eNewsView_content">
            <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.</p>
            <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів.</p>
          </div>
          <div class="eNewsView_footer"><a href="#" class="bIco"></a><a href="#" class="bIco"></a><a href="#" class="bIco"></a></div>
        </div>
        <!--#view news block-->
        <!--news grid-->
        <div class="bNewsItemWrap">
          <div class="eNewsItemWrap_inner">
            <!--item-->
            <div class="bNewsItem mSubscribe">
              <div class="eNewsItem_header">
                <div class="eNewsItem_headerText">Підписатися на новини та акцій</div>
                <div class="bIco mMail"></div>
              </div>
              <div class="eNewsItem_content">
                <div class="bInputWrap">
                  <input type="text" placeholder="ФІП" value="" class="bTextInput">
                </div>
                <div class="bInputWrap">
                  <input type="text" placeholder="e-mail" value="" class="bTextInput">
                </div>
                <button class="bBtn mContactsSent">надіслати</button>
              </div>
            </div>
            <!--#item-->
            <!--item-->
            <div class="bNewsItem">
              <div class="eNewsItem_img"><img src="img/ex/news_1.jpg" alt="" class="mImgResponsive"></div>
              <div class="eNewsItem_content">
                <div class="eNewsItem_dateWrap"><a href="#" class="bIco">1</a>
                  <div class="eNewsItem_date">09.01.2014</div>
                </div>
                <div class="eNewsItem_text">
                  <p>21 ноября ТМ Premialle была названа победителем номинации «Маркетинговая стратегия года» на торжественной церемонии награждения X-Ray Marketing Awards.</p>
                </div>
              </div>
              <div class="eNewsItem_footer"><a href="#" class="bIco"></a><a href="#" class="bIco"></a><a href="#" class="bIco"></a></div>
            </div>
            <!--#item-->
            <!--item-->
            <div class="bNewsItem">
              <div class="eNewsItem_img">
                <!--img.mImgResponsive(src='img/ex/news_1.jpg', alt='')-->
              </div>
              <div class="eNewsItem_content">
                <div class="eNewsItem_dateWrap"><a href="#" class="bIco">2</a>
                  <div class="eNewsItem_date">09.01.2014</div>
                </div>
                <div class="eNewsItem_text">
                  <p>21 ноября ТМ Premialle была названа победителем номинации «Маркетинговая стратегия года» на торжественной церемонии награждения X-Ray Marketing Awards.</p>
                </div>
              </div>
              <div class="eNewsItem_footer"><a href="#" class="bIco"></a><a href="#" class="bIco"></a><a href="#" class="bIco"></a></div>
            </div>
            <!--#item-->
            <!--item-->
            <div class="bNewsItem">
              <div class="eNewsItem_img"><img src="img/ex/news_2.jpg" alt="" class="mImgResponsive"></div>
              <div class="eNewsItem_content">
                <div class="eNewsItem_dateWrap"><a href="#" class="bIco">3</a>
                  <div class="eNewsItem_date">09.01.2014</div>
                </div>
                <div class="eNewsItem_text">
                  <p>21 ноября ТМ Premialle была названа победителем номинации «Маркетинговая стратегия года» на торжественной церемонии награждения X-Ray Marketing Awards.</p>
                </div>
              </div>
              <div class="eNewsItem_footer"><a href="#" class="bIco"></a><a href="#" class="bIco"></a><a href="#" class="bIco"></a></div>
            </div>
            <!--#item-->
            <!--item-->
            <div class="bNewsItem">
              <div class="eNewsItem_img"><img src="img/ex/news_1.jpg" alt="" class="mImgResponsive"></div>
              <div class="eNewsItem_content">
                <div class="eNewsItem_dateWrap"><a href="#" class="bIco">4</a>
                  <div class="eNewsItem_date">09.01.2014</div>
                </div>
                <div class="eNewsItem_text">
                  <p>21 ноября ТМ Premialle</p>
                </div>
              </div>
              <div class="eNewsItem_footer"><a href="#" class="bIco"></a><a href="#" class="bIco"></a><a href="#" class="bIco"></a></div>
            </div>
            <!--#item-->
            <!--item-->
            <div class="bNewsItem">
              <div class="eNewsItem_img"><img src="img/ex/news_1.jpg" alt="" class="mImgResponsive"></div>
              <div class="eNewsItem_content">
                <div class="eNewsItem_dateWrap"><a href="#" class="bIco">5</a>
                  <div class="eNewsItem_date">09.01.2014</div>
                </div>
                <div class="eNewsItem_text">
                  <p>21 ноября ТМ Premialle была названа победителем номинации «Маркетинговая стратегия года» на торжественной церемонии награждения X-Ray Marketing Awards.</p>
                </div>
              </div>
              <div class="eNewsItem_footer"><a href="#" class="bIco"></a><a href="#" class="bIco"></a><a href="#" class="bIco"></a></div>
            </div>
            <!--#item-->
            <!--item-->
            <div class="bNewsItem">
              <div class="eNewsItem_img"><img src="img/ex/news_1.jpg" alt="" class="mImgResponsive"></div>
              <div class="eNewsItem_content">
                <div class="eNewsItem_dateWrap"><a href="#" class="bIco">6</a>
                  <div class="eNewsItem_date">09.01.2014</div>
                </div>
                <div class="eNewsItem_text">
                  <p>21 ноября ТМ Premialle была названа победителем номинации «Маркетинговая стратегия года» на торжественной церемонии награждения X-Ray Marketing Awards.</p>
                </div>
              </div>
              <div class="eNewsItem_footer"><a href="#" class="bIco"></a><a href="#" class="bIco"></a><a href="#" class="bIco"></a></div>
            </div>
            <!--#item-->
            <!--item-->
            <div class="bNewsItem">
              <div class="eNewsItem_img"><img src="img/ex/news_1.jpg" alt="" class="mImgResponsive"></div>
              <div class="eNewsItem_content">
                <div class="eNewsItem_dateWrap"><a href="#" class="bIco">7</a>
                  <div class="eNewsItem_date">09.01.2014</div>
                </div>
                <div class="eNewsItem_text">
                  <p>21 ноября ТМ Premialle была названа победителем номинации «Маркетинговая стратегия года» на торжественной церемонии награждения X-Ray Marketing Awards.</p>
                </div>
              </div>
              <div class="eNewsItem_footer"><a href="#" class="bIco"></a><a href="#" class="bIco"></a><a href="#" class="bIco"></a></div>
            </div>
            <!--#item-->
            <!--item-->
            <div class="bNewsItem">
              <div class="eNewsItem_img"><img src="img/ex/news_1.jpg" alt="" class="mImgResponsive"></div>
              <div class="eNewsItem_content">
                <div class="eNewsItem_dateWrap"><a href="#" class="bIco">8</a>
                  <div class="eNewsItem_date">09.01.2014</div>
                </div>
                <div class="eNewsItem_text">
                  <p>21 ноября ТМ Premialle была названа победителем номинации «Маркетинговая стратегия года» на торжественной церемонии награждения X-Ray Marketing Awards.</p>
                </div>
              </div>
              <div class="eNewsItem_footer"><a href="#" class="bIco"></a><a href="#" class="bIco"></a><a href="#" class="bIco"></a></div>
            </div>
            <!--#item-->
            <!--item-->
            <div class="bNewsItem">
              <div class="eNewsItem_img"><img src="img/ex/news_1.jpg" alt="" class="mImgResponsive"></div>
              <div class="eNewsItem_content">
                <div class="eNewsItem_dateWrap"><a href="#" class="bIco">9</a>
                  <div class="eNewsItem_date">09.01.2014</div>
                </div>
                <div class="eNewsItem_text">
                  <p>21 ноября ТМ Premialle была названа победителем номинации «Маркетинговая стратегия года» на торжественной церемонии награждения X-Ray Marketing Awards.</p>
                </div>
              </div>
              <div class="eNewsItem_footer"><a href="#" class="bIco"></a><a href="#" class="bIco"></a><a href="#" class="bIco"></a></div>
            </div>
            <!--#item-->
          </div>
        </div>
        <!--#news grid-->
      </div>
      <!--#news-->
      <div class="bBottomLinks"><span class="eBottomLinks">Premialle © 2014 Всі права захищені.</span><span class="eBottomLinks">Зворотній зв'язок:<a href="#"></a>info@premialle.ua</span><span class="eBottomLinks">Гаряча лінія: 0 800 503 477</span><span class="eBottomLinks m1"><img src="img/logos/logo_inter_food.png" alt="" class="mImgResponsive"></span>
        <!--span.eBottomLinks.m2<img src="img/logos/logo_terra_food.png" alt="" class="mImgResponsive">
        -->
      </div>
    </section>
    <!--#content-->
    <script src="js/jquery.jsmovie.1.4.4.min.js"></script>
    <script src="js/preloaderparallax.js"></script>
    <script src="js/preloadermain.js"></script>
    <script src="js/jquery.parallax.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/stages.js"></script>
    <script src="js/intro.js"></script>
  </body>
</html>
