preloader.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="UTF-8">
    <title>Premiale</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="copyright" content="(c)">
    <meta http-equiv="Reply-to" content="e-mail">
    <!--link(rel='icon', href='img/icons/favicon.ico', type='image/x-icon')-->
    <!--styles-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900,500&amp;subset=latin,cyrillic-ext">
    <link rel="stylesheet" href="css/styles.css">
    <!--js-->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery.qrcode-0.7.0.min.js"></script>
    <script src="js/RemoteController.js"></script>
  </head>
  <body>
    <!--bg-->
    <div class="bBg mPreloader"></div>
    <!--#bg-->
    <!--start degustation-->
    <div class="bStartDegustaion"><a href="#" class="eStartDegustaion"></a></div>
    <!--#start degustation-->
    <nav class="bNav">
      <!--logo--><a href="" class="bLogo"></a>
      <!--#logo-->
      <!--nav links-->
      <ul class="bNavList">
        <!-- для отображения суб меню добавить li класс active-->
        <li><a href="">
            <div class="eNavList_ico mHome"></div>
            <div class="eNavList_text">Головна</div></a></li>
        <li><a href="">
            <div class="eNavList_ico mProducts"></div>
            <div class="eNavList_text">Продукція</div></a>
          <!-- нужно блоку bSubNavWrap задавать высоту окна-->
          <div class="bSubNavWrap">
            <ul class="bSubNavList">
              <li><a href="#">молоко</a></li>
              <li><a href="#">Ряжанка</a></li>
              <li><a href="#">кефір</a></li>
              <li><a href="#">біо-кефір</a></li>
              <li><a href="#">сметана</a></li>
              <li><a href="#">термостат</a></li>
              <li><a href="#">сир зернистий</a></li>
              <li><a href="#">фета</a></li>
              <li><a href="#">бринза</a></li>
              <li><a href="#">вершки</a></li>
              <li><a href="#">шейки</a></li>
            </ul>
          </div>
        </li>
        <li><a href="">
            <div class="eNavList_ico mPromo"></div>
            <div class="eNavList_text">Промо</div></a></li>
        <li><a href="">
            <div class="eNavList_ico mNews"></div>
            <div class="eNavList_text">Новини</div></a></li>
        <li><a href="">
            <div class="eNavList_ico mAbout"></div>
            <div class="eNavList_text">Про бренд</div></a></li>
        <li><a href="">
            <div class="eNavList_ico mContacts"></div>
            <div class="eNavList_text">Контакти</div></a></li>
      </ul>
      <!--#nav links-->
      <!--nav socials-->
      <div class="bNavSocials"><a href="" class="eNavSocials mFB"></a><a href="" class="eNavSocials mVK"></a><a href="" class="eNavSocials mTW"></a><a href="" class="eNavSocials mIG"></a><a href="" class="eNavSocials mYT"></a></div>
      <!--#nav socials-->
      <!--nav btn-->
      <div class="eNav_btn"></div>
      <!--#nav btn-->
      <!--shadow & border-->
      <div class="eNav_shadow"></div>
      <div class="eNav_sideBorder"></div>
      <!--#shadow & border-->
    </nav>
    <!--content-->
    <section class="bContent">
      <div id="messages"></div>
      <div id="endmessage"></div>
      <!--#preloader
      <div id="drop_img" class="bPreloaderDrop_1"><img src="img/preloader/drop_1.png" class="mImgResponsive"></div>
      <div id="drop_img_2" class="bPreloaderDrop_2"><img src="img/preloader/drop_2.png" class="mImgResponsive"></div>
      <div id="bottle" class="bPreloaderBottle"><img src="img/preloader/bottle-0.png" class="mImgResponsive"></div>
      -->
      <div class="bBottleWithCap">
        <div class="eBottleWithCap_cap"><img src="img/preloader/bottle_cap.png" class="mImgResponsive"></div><img src="img/preloader/bottle-0.png" class="mImgResponsive">
      </div>
      <div id="pass"></div>
      <div id="out"></div>
      <!--#introplay-->
      <div class="bPreloaderHeading">
        <h1>ідеальний тандем скла і молока<br>В інтерактивній дегустації Premialle</h1><a href="" class="bBtn">почати</a>
      </div>
      <!--block shadow-->
      <div class="bBlockBottomShadow mPreloader"></div>
      <!--#block shadow-->
    </section>
    <script src="js/jquery.jsmovie.1.4.4.min.js"></script>
    <script src="js/preloaderparallax.js"></script>
    <script src="js/preloadermain.js"></script>
    <script src="js/jquery.parallax.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/stages.js"></script>
    <script src="js/intro.js"></script>
  </body>
</html>

preloader.jade
!!! 5
html(lang='ru-RU')
    head
        include jade/_head
    body
        //bg
        .bBg.mPreloader
        //#bg
        //start degustation
        .bStartDegustaion
            a.eStartDegustaion(href='#')
        //#start degustation
        include jade/_nav
        //content
        section.bContent

            #messages

            #endmessage

            //#preloader
                #drop_img.bPreloaderDrop_1
                    img.mImgResponsive(src='img/preloader/drop_1.png')
                #drop_img_2.bPreloaderDrop_2
                    img.mImgResponsive(src='img/preloader/drop_2.png')
                #bottle.bPreloaderBottle
                    img.mImgResponsive(src='img/preloader/bottle-0.png')
            .bBottleWithCap
                .eBottleWithCap_cap
                    img.mImgResponsive(src='img/preloader/bottle_cap.png')
                img.mImgResponsive(src='img/preloader/bottle-0.png')
            #pass

            #out

            //#introplay

            .bPreloaderHeading
                h1
                    | ідеальний тандем скла і молока
                    br
                    | В інтерактивній дегустації Premialle
                a.bBtn(href=''): | почати
            //block shadow
            .bBlockBottomShadow.mPreloader
            //#block shadow
        include jade/_js
