product.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="UTF-8">
    <title>Premiale</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="copyright" content="(c)">
    <meta http-equiv="Reply-to" content="e-mail">
    <!--link(rel='icon', href='img/icons/favicon.ico', type='image/x-icon')-->
    <!--styles-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900,500&amp;subset=latin,cyrillic-ext">
    <link rel="stylesheet" href="css/styles.css">
    <!--js-->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery.qrcode-0.7.0.min.js"></script>
    <script src="js/RemoteController.js"></script>
  </head>
  <body>
    <!--bg-->
    <div class="bBg mPreloader"></div>
    <!--#bg-->
    <!--start degustation-->
    <div class="bStartDegustaion"><a href="#" class="eStartDegustaion"></a></div>
    <!--#start degustation-->
    <nav class="bNav">
      <!--logo--><a href="" class="bLogo"></a>
      <!--#logo-->
      <!--nav links-->
      <ul class="bNavList">
        <!-- для отображения суб меню добавить li класс active-->
        <li><a href="">
            <div class="eNavList_ico mHome"></div>
            <div class="eNavList_text">Головна</div></a></li>
        <li><a href="">
            <div class="eNavList_ico mProducts"></div>
            <div class="eNavList_text">Продукція</div></a>
          <!-- нужно блоку bSubNavWrap задавать высоту окна-->
          <div class="bSubNavWrap">
            <ul class="bSubNavList">
              <li><a href="#">молоко</a></li>
              <li><a href="#">Ряжанка</a></li>
              <li><a href="#">кефір</a></li>
              <li><a href="#">біо-кефір</a></li>
              <li><a href="#">сметана</a></li>
              <li><a href="#">термостат</a></li>
              <li><a href="#">сир зернистий</a></li>
              <li><a href="#">фета</a></li>
              <li><a href="#">бринза</a></li>
              <li><a href="#">вершки</a></li>
              <li><a href="#">шейки</a></li>
            </ul>
          </div>
        </li>
        <li><a href="">
            <div class="eNavList_ico mPromo"></div>
            <div class="eNavList_text">Промо</div></a></li>
        <li><a href="">
            <div class="eNavList_ico mNews"></div>
            <div class="eNavList_text">Новини</div></a></li>
        <li><a href="">
            <div class="eNavList_ico mAbout"></div>
            <div class="eNavList_text">Про бренд</div></a></li>
        <li><a href="">
            <div class="eNavList_ico mContacts"></div>
            <div class="eNavList_text">Контакти</div></a></li>
      </ul>
      <!--#nav links-->
      <!--nav socials-->
      <div class="bNavSocials"><a href="" class="eNavSocials mFB"></a><a href="" class="eNavSocials mVK"></a><a href="" class="eNavSocials mTW"></a><a href="" class="eNavSocials mIG"></a><a href="" class="eNavSocials mYT"></a></div>
      <!--#nav socials-->
      <!--nav btn-->
      <div class="eNav_btn"></div>
      <!--#nav btn-->
      <!--shadow & border-->
      <div class="eNav_shadow"></div>
      <div class="eNav_sideBorder"></div>
      <!--#shadow & border-->
    </nav>
    <!--content-->
    <section class="bContent">
      <!--product-->
      <div class="bProductWrap">
        <div class="bProduct"></div>
      </div>
      <!--#product-->
      <!--parallax-->
      <div class="bParallax">
        <div data-depth="0.33" class="eParallax_img m3 layer"><img src="img/parallax_drops_3.png" alt=""></div>
        <div data-depth="0.66" class="eParallax_img m2 layer m2"><img src="img/parallax_drops_2.png" alt=""></div>
        <!--bottle-->
        <div class="bBottleImg"><img src="img/bottle_with_splash.png" alt=""></div>
        <!--#bottle-->
        <div data-depth="1.00" class="eParallax_img m1 layer m1"><img src="img/parallax_drops_1.png" alt=""></div>
      </div>
      <!--#parallax-->
      <div class="bBottomLinks"><span class="eBottomLinks">Premialle © 2014 Всі права захищені.</span><span class="eBottomLinks">Зворотній зв'язок:<a href="#"></a>info@premialle.ua</span><span class="eBottomLinks">Гаряча лінія: 0 800 503 477</span><span class="eBottomLinks m1"><img src="img/logos/logo_inter_food.png" alt="" class="mImgResponsive"></span>
        <!--span.eBottomLinks.m2<img src="img/logos/logo_terra_food.png" alt="" class="mImgResponsive">
        -->
      </div>
    </section>
    <!--#content-->
    <script src="js/jquery.jsmovie.1.4.4.min.js"></script>
    <script src="js/preloaderparallax.js"></script>
    <script src="js/preloadermain.js"></script>
    <script src="js/jquery.parallax.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/stages.js"></script>
    <script src="js/intro.js"></script>
  </body>
</html>

product.jade
!!! 5
html(lang='ru-RU')
    head
        include jade/_head
    body
        //bg
        .bBg.mPreloader
        //#bg
        //start degustation
        .bStartDegustaion
            a.eStartDegustaion(href='#')
        //#start degustation
        include jade/_nav
        //content
        section.bContent
            //product
            .bProductWrap
                .bProduct
            //#product

            //parallax
            .bParallax
                div.eParallax_img.m3(data-depth="0.33",class="layer")
                    img(src="img/parallax_drops_3.png",alt="")
                div.eParallax_img.m2(data-depth="0.66",class="layer m2")
                    img(src="img/parallax_drops_2.png",alt="")
                //bottle
                .bBottleImg
                  img(src="img/bottle_with_splash.png",alt="")
                //#bottle
                div.eParallax_img.m1(data-depth="1.00",class="layer m1")
                    img(src="img/parallax_drops_1.png",alt="")
            //#parallax
            include jade/_bottom_data
        //#content
        include jade/_js
